p
{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    text-align: center;
}
.title
{
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}

.content
{
    font-size: 18px;
}
.text-link
{
    text-decoration: none;
    cursor: pointer;
    transition: 0.13s;
}
.text-link:hover
{
    text-decoration: underline;
}