.video-preview
{
    display: inline-block;
}

.thumbnail
{
    width: 300px;
    border-radius: 2px;
}

.search-bar
{
    margin-bottom: 10px;
    display: block;
    border: none;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 1px black;
    padding: 5px;
    padding-right: 100px;
}